version: '3'
services:
  web:
    build: .
    hostname: web
    volumes:
      - .:/code
      - node_modules_container:/code/node_modules
    ports:
      - "8000:8000"
      - "8080:8080"
    depends_on:
      - db
    command: ["/code/wait-for-it.sh", "db:5432", "--", "bash", "/code/docker/web/web-entrypoint.sh"]
  db:
    hostname: db
    image: postgres:11.4
    expose:
      - "5432"

volumes:
  node_modules_container: