{% extends 'base.html' %}

{% load static crispy_forms_tags %}

{% block extendhead %}
{% endblock extendhead %}

{% block content %}
	<div class="row">
		<div class="col-12">
			<div class="form-group">
				<h1>Search</h1>
				{% crispy form %}
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<div class="alert-search alert alert-dismissible alert-secondary">
			  <strong>Type in keywords above</strong> and start searching for Google results by clicking "Hunt!".
			</div>
			<div class="loading">Loading&#8230;</div>
			{% include 'results.html' %}
	</div>
{% endblock content %}

{% block extendfoot %}
	<script type="text/javascript" src="{% static 'index.js' %}"></script>
{% endblock extendfoot %}
