{% extends 'base.html' %}

{% block extendhead %}

{% endblock extendhead %}

{% block content %}
<div class="container mt-3">
	<div class="row">
		<div class="col-12">
			<form id="search" method="GET">
			    <div class="form-group">
			    	<h1>Search</h1>
					<div class="input-group">
						<input type="text" class="my-auto form-control" id="keywords-input" name="keywords" />
						<input type="submit" class="btn btn-danger" value="Hunt!">
					</div>
			    </div>
			</form>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<div class="alert-search alert alert-dismissible alert-secondary">
			  <strong>Type in keywords above</strong> and start searching for Google results by clicking "Hunt!".
			</div>
			<div id="results">
				<h2>Top10</h2>
				<table id="top10" class="table">
					<thead>
						<tr>
							<th>#</th>
							<th>Website</th>
						</tr>
					</thead>
				</table>

				<h2>Popular keywords</h2>
				<table id="keywords" class="table">
					<thead>
						<tr>
							<th>Keyword</th>
							<th>No of occurencies</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
</div>
{% endblock content %}