body {
	background: #fefefe;
  padding-bottom: 5rem;

	h1 {
		font-size: 2rem;
	}

	h2 {
		font-size: 1.5rem;
		margin-top: 3rem;
	}
}

#results {
	display: none;
}

#results-counter,
#results-keyword {
  font-weight: bold;
}
